# Nestjs specific
/dist
/node_modules
/build
/tmp

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# dotenv environment variable files
.env
.env.development
.env.test
.env.production

# temp directory
.temp
.tmp

# JetBrains IDEs (IntelliJ, WebStorm, etc.)
.idea/**
!.idea/runConfigurations/
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/vcs.xml
!.idea/modules.xml
!.idea/*.iml

# Always ignore these user-specific files
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf/
.idea/tasks.xml
